{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}

	{% if 'email' in session %}
		<div>
			<a class="btn" href="{{url_for('newCategory')}}">Add category</a>
		</div>
	{% endif %}


	<div class="row home">
		{% if categories %}
		<div class="col-md-6">
			<h2>Categories</h2>
			<ul>
				{% for category in categories  %}
					<li>
						<a href="{{url_for('showCategory', category_id=category.id, category_name=category.name)}}">{{category.name}}</a>
						{% if 'email' in session %}
							<div>
								<a class="change" href="{{url_for('editCategory', category_id=category.id, category_name=category.name)}}">Edit</a> |
								<a class="change" href="{{url_for('deleteCategory', category_id=category.id, category_name=category.name)}}">Delete</a>
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}


		{% if items %}
		<div class="col-md-6 list-items">
			<h2>Latest Items</h2>
			<ul>
				{% for item in items  %}
					<li>
						<a href="{{url_for('showItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">{{item.name}}</a>
						{% if 'email' in session %}
							<div>
								<a class="change" href="{{url_for('editItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">Edit</a> | <a class="change" href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">Delete</a>
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
{% endblock %}