{% extends 'layout.html' %}
{% block title %}Edit item {{item.name}} in category {{itemCategory.name}}{% endblock %}
{% block content %}
	<h1>Edit item {{item.name}} in category {{itemCategory.name}}</h1>
	<form action="{{url_for('editItem', category_id=itemCategory.id, item_id=item.id, item_name=item.name)}}" method="post">
		{{ form.csrf_token }}
		<label>Name*:</label> 
		<input type="text" name="name" placeholder="{{item.name}}" >
		<label>Price:</label>
		<input type="text" name="price" placeholder="{{item.price}}" >
		<label>Description:</label>
		<textarea name="description" placeholder="{{item.description}}" ></textarea>
		<label>Category:</label>
		<select name="category_id" id="categories">
			{% for category in categories %}
				<option value="{{category.id}}" {% if category.name == itemCategory.name %}selected{% endif %}>{{category.name}}</option>
			{% endfor %}
		</select>

		<input class="btn" type="submit" value="Edit">
	</form>

	<p>* Required</p>

	<a class="btn" href="{{url_for('showItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">Cancel</a>

{% endblock %}