{% extends 'layout.html' %}
{% block title %}Edit category {{category.name}}{% endblock %}
{% block content %}
	<h1>Edit category {{category.name}}</h1>
	<form action="{{url_for('editCategory', category_id=category.id, category_name=category.name)}}" method="post">
		{{ form.csrf_token }}
		<label>Name*: </label>
		<input type="text" name="name" placeholder="{{category.name}}" >
		<label>Description: </label>
		<input type="text" name="description" placeholder="{{category.description}}" >
		<input class="btn" type="submit" value="Edit">
	</form>

	<p>* Required</p>

	<a class="btn" href="{{url_for('showCategory', category_id=category.id, category_name=category.name)}}">Cancel</a>

{% endblock %}