{% extends 'layout.html' %}
{% block title %}Item {{item.name}}{% endblock %}
{% block content %}
	<h1>Item {{item.name}}</h1>

	<dl>
		{% if item.description != '' %}
			<dt>Description</dt>
			<dd>{{item.description}}</dd>
		{% endif %}
		{% if item.price != '' %}
			<dt>Price</dt>
			<dd>{{item.price}} €</dd>
		{% endif %}
		{% if category.name != '' %}
			<dt>Category</dt>
			<dd>{{category.name}}</dd>
		{% endif %}
	</dl>

	{% if 'email' in session %}
		<div>
			<a class="change" href="{{url_for('editItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">Edit</a> | <a class="change" href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">Delete</a>
		</div>
	{% endif %}

	<div>
		<a class="btn" href="{{url_for('showCategory', category_id=category.id, category_name=category.name)}}">< Back to {{category.name}}</a>
	</div>	
{% endblock %}