{% extends 'layout.html' %}
{% block title %}Category {{category.name}}{% endblock %}
{% block content %}
	<h1>Category {{category.name}}</h1>

	<dl>
	{% if category.description != '' %}
		<dt>Description</dt>
		<dd>{{category.description}}</dd>
	{% endif %}
	</dl>
	
	{% if 'email' in session %}
	<div>
		<a class="btn" href="{{url_for('newItem', category_id=category.id, category_name=category.name)}}">Add item</a>
	</div>	
	

	<div>
		<a class="change" href="{{url_for('editCategory', category_id=category.id, category_name=category.name)}}">Edit category</a> | <a class="change" href="{{url_for('deleteCategory', category_id=category.id, category_name=category.name)}}">Delete category</a>
	</div>
	{% endif %}

	{% if items %}
	<ul>
		{% for item in items  %}
			<li>
				<a href="{{url_for('showItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">{{item.name}}</a>
				{% if 'email' in session %}
					<div>
						<a class="change" href="{{url_for('editItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">Edit</a> | <a class="change" href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id, item_name=item.name)}}">Delete</a>
					</div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% endif %}

	<div>
		<a class="btn" href="{{url_for('showCatalog')}}">< Back to catalog</a>
	</div>

{% endblock %}